# Environment Variables for Server (Node.js)
# Copy this file to .env and fill in the actual values

# Neon PostgreSQL connection string (from your Neon project dashboard)

DATABASE_URL_POSTGRES_PASSWORD=npg_hgRMuo4nmSe7
DATABASE_URL_PGUSER=neondb_owner
DATABASE_URL_PGDATABASE=neondb
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_hgRMuo4nmSe7@ep-dawn-scene-a496nv70.us-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_PGPASSWORD=npg_hgRMuo4nmSe7
DATABASE_URL_POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_hgRMuo4nmSe7@ep-dawn-scene-a496nv70.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
DATABASE_URL_POSTGRES_HOST=ep-dawn-scene-a496nv70-pooler.us-east-1.aws.neon.tech
DATABASE_URL_PGHOST=ep-dawn-scene-a496nv70-pooler.us-east-1.aws.neon.tech
DATABASE_URL_POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_hgRMuo4nmSe7@ep-dawn-scene-a496nv70-pooler.us-east-1.aws.neon.tech/neondb
DATABASE_URL_POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_hgRMuo4nmSe7@ep-dawn-scene-a496nv70-pooler.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require
DATABASE_URL_POSTGRES_DATABASE=neondb
DATABASE_URL_POSTGRES_USER=neondb_owner
DATABASE_URL_NEON_AUTH_BASE_URL=https://ep-dawn-scene-a496nv70.neonauth.us-east-1.aws.neon.tech/neondb/auth
DATABASE_URL_PGHOST_UNPOOLED=ep-dawn-scene-a496nv70.us-east-1.aws.neon.tech
DATABASE_URL_DATABASE_URL=postgresql://neondb_owner:npg_hgRMuo4nmSe7@ep-dawn-scene-a496nv70-pooler.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
DATABASE_URL_POSTGRES_URL=postgresql://neondb_owner:npg_hgRMuo4nmSe7@ep-dawn-scene-a496nv70-pooler.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
DATABASE_URL_POSTGRES_USER=neondb_owner
DATABASE_URL_NEON_PROJECT_ID=jolly-frog-72511080
DATABASE_URL_VITE_NEON_AUTH_URL=https://ep-dawn-scene-a496nv70.neonauth.us-east-1.aws.neon.tech/neondb/auth
DATABASE_URL=postgres://user:password@ep-xxx.us-east-2.aws.neon.tech/dbname?sslmode=require

JWT_SECRET=asd2e12enak
BCRYPT_COST_FACTOR=5
PORT=5000
FRONTEND_URL=http://localhost:3000

# IGDB API Keys
IGDB_CLIENT_ID=c8zgssww2fgri0yf05f534wd3zjlmp
IGDB_CLIENT_SECRET=p06zw1cnw7i3hwistebs9wvj70h73g

# Steam API Key
STEAM_API_KEY=8049AABE7A863E33A1FC9D55CFF9415A